<script setup>
    import Formik from './components/Formik/Formik.vue';
    import Field from './components/Field/Field.vue';
</script>


<template>
    <div>
      <video src="./video.mp4" autoplay loop muted class="bg-video"></video>
    </div>
    <div class="container d-flex align-items-center justify-content-center">
      <Formik
        :initialValues="initialValues"
        :validate="validate"
        @submit="onSubmit"
      >
        <form class="w-500 h-50 mx-auto bg-light p-5 border rounded shadow-lg" style="opacity: 0.9;">
          <h1 class="align-items-center justify-content-center">Formik like </h1>
          <h9 class="align-items-center justify-content-center">By Julien Arbellini & Kelig Brindeau</h9>
          <Field
            name="name"
            as="input"
            type="text"
            placeholder="Name"
            class="form-control text-center"
          />
          <Field
            name="email"
            as="input"
            type="password"
            placeholder="Email"
            class="form-control text-center"
          />
          <button type="submit" class="btn btn-primary font-weight-bold mt-3">Submit</button>
        </form>
        <template v-if="submitted">
          <p>Your form has been successfully submitted!</p>
        </template>
      </Formik>
    </div>
  </template>
  
  <script>
  export default {
    components: {
      Formik,
      Field,
    },
    data() {
      return {
        initialValues: {
          name: '',
          email: '',
        },
        validate: values => {
          const errors = {};
          if (!values.name) {
            errors.name = 'Required';
          }
          if (!values.email) {
            errors.email = 'Required';
          }
          return errors;
        },
        submitted: false, // added flag to track form submission
      };
    },
    methods: {
      onSubmit(values, { setSubmitting }) {
        setTimeout(() => {
          alert(JSON.stringify(values, null, 2));
          setSubmitting(false);
          this.submitted = true; // set flag to true when form is submitted
        }, 400);
      },
    },
  };
  </script>
  