<script setup>
 import Field from './components/Field/Field.vue'
</script>



<template >
    
  <Field name="color" as="select">
    <option>Choissisez</option>
  </Field>
  <Field name="input" as="input" >
    <option>Choissisez</option>
  </Field>
  <!-- <Field name="password" as="password" >
    <option>Choissisez</option>
  </Field> -->

</template>









<style>
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
</style>
