.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: auto;

  }
  /* ajustez la taille des champs de formulaire et du bouton selon vos besoins */
  .form-control {
    height: 50px;
    width: 300px;
  }
  .btn {
    height: 50px;
    width: 300px;
  }

  .bg-video {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }