<script>
    export default{
        name: 'myField',
        props: {
            name:{
                type: String,
                required: true
            },
            as:{
                type: String,
                required: false
            }
        }
    }
</script>


<template>
    <component :is="as" >
        <slot></slot>
    </component>
</template>