<template>
  <form @submit.prevent="handleSubmit" ref="form">
    <slot></slot>
  </form>
</template>

<script>
export default {
  name: 'my-form',
  props: {
    initialValues: {
      type: Object,
      required: true,
    },
    validate: {
      type: Function,
      required: true,
    },
  },
  data() {
    return {
      values: { ...this.initialValues },
      errors: {},
      isSubmitting: false,
    };
  },
  methods: {
    handleSubmit() {
      this.errors = this.validate(this.values);
      if (Object.keys(this.errors).length === 0) {
        this.isSubmitting = true;
        this.$emit('submit', this.values, { setSubmitting: this.setSubmitting });
      }
    },
    setSubmitting(isSubmitting) {
      this.isSubmitting = isSubmitting;
    },
  },
};
</script>
